#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pitch__wrapper {
  display: grid;
  grid-template-rows: repeat(5, 165px);
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 5em;
}

.pitch__wrapper section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__img {
  width: 50px;

}


.player div h3 {
  font-size: .7em;
} 

.img__wrapper {
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
}

.img__wrapper:hover {
  transform: translateY(-10px);
}


.captain__img {
  width: 17px;
  position: absolute;

}

table, th, td {
  border:1px solid black;
}

.table{
  display: flex;
 flex-wrap: wrap;
  max-height: 500px;
  overflow: scroll;
}

.table__wrapper{
  max-height: 500px;
}

.players__list {
  margin-top: 5em;
}

.app__wrapper {
  display: flex;
}

.transfer__popup {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.155);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 0;
  text-align: center;
  z-index: 999;
}

